body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.App-header {
  background-image: url('https://st2.depositphotos.com/1106005/8169/i/450/depositphotos_81696382-stock-photo-teal-and-white-doggy-tile.jpg');
  padding: 20px;
  color: white;
  text-align: center;
}

.breed-dropdown {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.breed-dropdown button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.breed-dropdown button:hover {
  background-color: #21a1f1;
}

.breed-dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.breed-dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.breed-dropdown li:hover {
  background-color: #f0f0f0;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 330px;
  height: 300px;
  margin: 10px;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.images img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: auto;
  padding: 10px;
  background-image: url('https://st2.depositphotos.com/1106005/8169/i/450/depositphotos_81696382-stock-photo-teal-and-white-doggy-tile.jpg');
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
